@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.card {
  overflow: hidden;
  border-radius: 24px;
  background: rgb(57, 11, 101, 0.75);
  transform: translateZ(0);

  figure {
    .image {
      aspect-ratio: 1.33 / 1;
    }

    figcaption {
      & * {
        text-align: start;
      }

      @include mobile {
        padding: 20px 24px 16px;
      }

      @include desktop {
        padding: 24px 24px 24px;
      }

      .card_info {
        display: flex;
        justify-content: space-between;
        .card_info_text {
        }

        .card_info_icon {
          @include mobile {
            width: rem(42px);
            height: rem(48px);
          }

          @include desktop {
            width: rem(48px);
            height: rem(58px);
          }
        }
      }

      .name {
        color: #efeaf5;
        font-style: normal;
        font-weight: 700;

        @include mobile {
          font-size: rem(20px);
          line-height: rem(25px);
        }

        @include desktop {
          font-size: rem(26px);
          line-height: rem(32px);
        }
      }

      .year {
        display: block;
        color: #b36afb;
        font-style: normal;
        font-weight: 700;

        @include mobile {
          margin-top: 4px;
          font-size: rem(19px);
        }

        @include desktop {
          margin-top: 8px;
          font-size: rem(20px);
          line-height: rem(20px);
        }
      }

      .description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: #dccaf2;
        font-style: normal;
        font-weight: 500;
        word-break: break-all;

        @include mobile {
          min-height: 39px;
          margin-top: rem(4px);
          font-size: rem(13px);
        }

        @include desktop {
          min-height: 50px;
          margin-top: rem(10px);
          font-size: rem(17px);
        }
      }

      .link_group {
        display: flex;
        gap: 8px;
        width: 100%;
        color: color(text-alternative);
        font-style: normal;
        font-weight: 700;

        a:hover {
          color: color(text-normal);
        }

        @include mobile {
          margin-top: 20px;
          font-size: rem(13px);
          line-height: rem(17px);
        }

        @include desktop {
          margin-top: 24px;
          font-size: rem(17px);
          line-height: rem(22px);
        }

        .link_img {
          @include mobile {
            margin-right: rem(4px);
            width: rem(17px);
            height: rem(17px);
          }

          @include desktop {
            margin-right: rem(8px);
            width: rem(22px);
            height: rem(22px);
          }
        }
      }
    }
  }
}
