@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.button {
  background-color: color(black-100);
  border-radius: 99px;
  color: white;
  font-weight: 700;
  text-align: center;

  &:hover {
    background-color: color(primary-strong);
  }

  &:active {
    background-color: color(primary-heavy);
  }

  @include mobile {
    padding: rem(8px) rem(16px);
    @include font(14px, 19px);
  }

  @include desktop {
    padding: rem(10px) rem(20px);
    @include font(22px, 28px);
  }
}

.button_disabled {
  pointer-events: none;
  background-color: color(blue-800);
  color: color(gray-300);
}
