@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.item {
  display: flex;
  align-items: center;
  color: color(black-100);
  border-bottom: 1px dashed color(primary-dark-02);

  @include mobile {
    padding: 12px 0;
    justify-content: space-between;
    @include font(14px, 19px);
  }

  @include desktop {
    padding: 16px 0;
    justify-content: space-between;
    @include font(24px, 30px);
  }

  .item_name {
    text-align: start;
    color: #606060;

    @include mobile {
      font-weight: 700;
      @include typo(KR/Caption1);
      width: 100px;
    }

    @include desktop {
      font-weight: 600;
      @include typo(KR/Headline3);
      width: 240px;
    }
  }

  .item_date {
    font-weight: 600;
    @include mobile {
      font-weight: 600;
      @include typo(KR/Caption1);
    }

    @include desktop {
      font-weight: 600;
      @include typo(KR/Headline3);
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;

  @include mobile {
    width: 100%;
    max-width: 328px;
    gap: 24px;
    padding: 32px 24px;
    margin-top: 16px;
  }

  @include desktop {
    width: 80%;
    max-width: 800px;
    gap: 30px;
    padding: 60px 60px;
    margin-top: 40px;
  }

  ul {
    > li:first-of-type {
      border-top: 1px dashed color(primary-dark-02);
    }
  }

  .card_title {
    font-weight: 700;
    color: color(primary-light-04);
    text-align: center;
    position: relative;

    @include mobile {
      @include typo(KR/Headline5);
    }

    @include desktop {
      @include typo(KR/Headline1);
    }
  }

  .card_button {
    align-self: center;
    font-weight: 600;
    background-color: color(primary-light-04);
    color: white;
    position: relative;
    padding: 16px 32px;
  }
}
