@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.main {
  background: color(background-primary);

  .section {
    
    @include desktop {
      padding-top: 200px;
    }

    .gradient_circle{
      position: absolute;
      top: 207px;
      background-color: color(blue-500);
      border-radius: 50%;
      filter: blur(840px);
      z-index: 0;

      @include mobile {
        height: 400px;
        width: 400px;
      }

      @include desktop {
        height:466px;
        width: 466px;
      }
    }
  }
}

.space {
  height: 100px;
}
