@use '@/styles/utils' as utils;

$typo-styles: (
  'display1': (
    'size': 44px,
    'line-height': 56px,
    'weight': 700,
  ),
  'display2': (
    'size': 40px,
    'line-height': 48px,
    'weight': 700,
  ),
  'display3': (
    'size': 32px,
    'line-height': 39px,
    'weight': 700,
  ),
  'title1': (
    'size': 26px,
    'line-height': 38px,
    'weight': 700,
  ),
  'title2n': (
    'size': 24px,
    'line-height': 36px,
    'weight': 700,
  ),
  'title2': (
    'size': 22px,
    'line-height': 33px,
    'weight': 700,
  ),
  'title3': (
    'size': 20px,
    'line-height': 25px,
    'weight': 700,
  ),
  'headline': (
    'size': 18px,
    'line-height': 23px,
    'weight': 700,
  ),
  'subhead': (
    'size': 15px,
    'line-height': 20px,
    'weight': 500,
  ),
  'body-bold1': (
    'size': 17px,
    'line-height': 24px,
    'weight': 700,
  ),
  'body-medium1': (
    'size': 17px,
    'line-height': 24px,
    'weight': 500,
  ),
  'body-bold2': (
    'size': 14px,
    'line-height': 19px,
    'weight': 700,
  ),
  'body-medium2': (
    'size': 14px,
    'line-height': 19px,
    'weight': 500,
  ),
  'caption-bold1': (
    'size': 13px,
    'line-height': 17px,
    'weight': 700,
  ),
  'caption-medium1': (
    'size': 13px,
    'line-height': 17px,
    'weight': 500,
  ),
  'caption-medium2': (
    'size': 11px,
    'line-height': 15px,
    'weight': 500,
  ),

  // 17,18기 한글 타이포
  'KR/Headline1':
    (
      'size': 40px,
      'line-height': 50px,
      'weight': 700,
      'letter-spacing': -0.02em,
    ),
  'KR/Headline2': (
    'size': 36px,
    'line-height': 48px,
    'weight': 600,
    'letter-spacing': -0.02em,
  ),
  'KR/Headline3': (
    'size': 30px,
    'line-height': 40px,
    'weight': 600,
    'letter-spacing': -0.02em,
  ),
  'KR/Headline4': (
    'size': 24px,
    'line-height': 34px,
    'weight': 600,
    'letter-spacing': -0.02em,
  ),
  'KR/Headline5': (
    'size': 20px,
    'line-height': 28px,
    'weight': 600,
    'letter-spacing': -0.02em,
  ),
  'KR/Headline6': (
    'size': 16px,
    'line-height': 24px,
    'weight': 600,
    'letter-spacing': -0.02em,
  ),
  'KR/Subtitle1': (
    'size': 28px,
    'line-height': 40px,
    'weight': 400,
    'letter-spacing': -0.02em,
  ),
  'KR/Subtitle2': (
    'size': 24px,
    'line-height': 34px,
    'weight': 400,
    'letter-spacing': -0.02em,
  ),
  'KR/Body2': (
    'size': 22px,
    'line-height': 30px,
    'weight': 400,
    'letter-spacing': -0.02em,
  ),
  'KR/Body3_R': (
    'size': 20px,
    'line-height': 28px,
    'weight': 400,
    'letter-spacing': -0.02em,
  ),
  'KR/Body3_L': (
    'size': 20px,
    'line-height': 28px,
    'weight': 300,
    'letter-spacing': -0.02em,
  ),
  'KR/Body4': (
    'size': 18x,
    'line-height': 26px,
    'weight': 400,
    'letter-spacing': -0.02em,
  ),
  'KR/Body5': (
    'size': 16px,
    'line-height': 24px,
    'weight': 400,
    'letter-spacing': -0.02em,
  ),
  'KR/Caption1': (
    'size': 13px,
    'line-height': 18px,
    'weight': 600,
    'letter-spacing': -0.02em,
  ),
  'KR/Caption1_L': (
    'size': 13px,
    'line-height': 18px,
    'weight': 300,
    'letter-spacing': -0.02em,
  ),
  'KR/Caption2': (
    'size': 12px,
    'line-height': 18px,
    'weight': 300,
    'letter-spacing': -0.02em,
  ),
  'KR/Caption3': (
    'size': 10px,
    'line-height': 16px,
    'weight': 300,
    'letter-spacing': -0.02em,
  ),
  'ETC': (
    'size': 80px,
    'line-height': 96px,
    'weight': 700,
    'letter-spacing': -0.02em,
  ),
  'E_Headline1': (
    'size': 60px,
    'line-height': 72px,
    'weight': 700,
    'letter-spacing': -0.01em,
  ),
  'E_Headline2': (
    'size': 40px,
    'line-height': 50px,
    'weight': 700,
    'letter-spacing': -0.01em,
  ),
  'E_Headline3': (
    'size': 25px,
    'line-height': 33px,
    'weight': 700,
    'letter-spacing': -0.01em,
  ),
  'E_Headline4': (
    'size': 14px,
    'line-height': 20px,
    'weight': 600,
    'letter-spacing': -0.01em,
  ),
  'E_Headline5': (
    'size': 11px,
    'line-height': 18px,
    'weight': 600,
    'letter-spacing': -0.01em,
  ),
  'E_Display1': (
    'size': 36px,
    'line-height': 46px,
    'weight': 700,
    'letter-spacing': -0.01em,
  ),
  'E_Display2': (
    'size': 30px,
    'line-height': 40px,
    'weight': 500,
    'letter-spacing': -0.01em,
  ),
  'E_Display3': (
    'size': 24px,
    'line-height': 30px,
    'weight': 700,
    'letter-spacing': -0.01em,
  ),
  'E_Display4': (
    'size': 20px,
    'line-height': 28px,
    'weight': 500,
    'letter-spacing': -0.01em,
  ),
);

@function typo-style($name, $property) {
  $style: map-get($typo-styles, $name);
  @return map-get($style, $property);
}

// 해당 함수 사용
@mixin typo($name) {
  font-size: utils.rem(typo-style($name, 'size'));
  line-height: utils.rem(typo-style($name, 'line-height'));
  font-weight: typo-style($name, 'weight');
}

/*
 * typo system에 정의되어 있지 않은 경우
 * ex. font(24px, 30px)
*/
@mixin font($size, $line-height) {
  font-size: utils.rem($size);
  line-height: utils.rem($line-height);
}
