@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.space {
  height: 300px;
}

.gradient_circle {
  position: absolute;
  top: 207px;
  background-color: color(blue-500);
  border-radius: 50%;
  filter: blur(840px);
  z-index: 0;

  @include mobile {
    height: 400px;
    width: 400px;
  }

  @include desktop {
    height: 266px;
    width: 266px;
  }
}

.star {
  width: 112px;
  height: 64px;

  @include mobile {
    margin-bottom: 16px;
  }

  @include desktop {
    margin-bottom: 28px;
  }
}

.head {
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  @include desktop {
    flex-direction: column;
    align-items: center;
  }
}

.title {
  text-align: center;
  color: color('primary-light-04');
  font-family: 'Video';

  @include mobile {
    @include typo(E_Headline3);
    div {
      display: inline-block;
      color: black;
    }
  }

  @include desktop {
    @include typo(E_Headline1);
    div {
      display: inline-block;
    }
    margin-top: 28px;
  }
}

.description {
  text-align: center;
  font-weight: 400;

  span {
    color: color('primary-dark-03');
  }

  @include mobile {
    margin-top: 25px;
    @include typo(KR/Body5);

    span {
      font-weight: 600;
      @include typo(KR/Headline6);
    }
  }

  @include desktop {
    margin-top: 11px;
    @include typo(KR/Subtitle2);
    span {
      font-weight: 600;
      @include typo(KR/Headline4);
    }
  }
}

.card {
  background-color: white;
  border-radius: 20px;
  position: relative;
  margin-top: 48px;

  @include mobile {
    width: 90%;
  }

  @include desktop {
    min-width: 632px;
  }
}
