@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.main {

  @include mobile {
    padding-bottom: 30px;
  }

  @include desktop {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 70px;
    padding-bottom: 40px;
  }

  .gradient_circle{
    position: absolute;
    top: 207px;
    background-color: color(blue-500);
    border-radius: 50%;
    filter: blur(840px);
    z-index: 0;

    @include mobile {
      height: 400px;
      width: 400px;
    }

    @include desktop {
      height:266px;
      width: 266px;
    }
  }
}

.background_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;

  @include mobile {
    margin-top: 72px;
  }

  @include desktop {
    margin-top: 190px;
  }

  h2 {
    color: #ffffff;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 130.336%;
    letter-spacing: -0.076px;

    @include mobile {
      font-size: rem(28px);
    }

    @include desktop {
      font-size: rem(50px);
    }
  }

  .background_container {
    position: absolute;
    z-index: -1;

    @include mobile {
      top: -90px;
      width: 200px;
      height: 200px;
    }

    @include desktop {
      top: -130px;
      width: 300px;
      height: 300px;
    }

    .background {
      opacity: 0.7;
      position: absolute;
      margin: 0 auto;
      width: 100%;
      max-width: 587px;
      height: 100%;
      max-height: 587px;
      aspect-ratio: 1 / 1;
      border-radius: 100%;
      background: radial-gradient(46.86% 46.86% at 50% 53.14%, rgba(97, 93, 255, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }
}


.nav {
  width: max-content;
  max-width: 100vw;
  position: relative;

  ul {
    display: flex;
    color: color(gray-300);
    font-weight: 400;
    overflow-x: scroll;
    background-color: color(gray-100);
    border-radius: 30px;


    @include hide-scrollbar;

    @include mobile {
      margin: 24px 30px 32px;
      font-size: rem(13px);
      line-height: rem(17px);
    }

    @media (min-width: 600px) and (max-width: 1000px) {
      justify-content: center;
    }

    @include desktop {
      justify-content: center;
      margin: 32px 20px 40px;
      @include font(16px, 24px);
    }

    li {
    }

    button {
      width: max-content;
      border-radius: 30px;
      
      @include mobile {
        padding: 10px 18px;
      }

      @include desktop {
        padding: 10px 26px;
      }
    }
  }

  .active {
    color: white;
    background-color: color(blue-500);
    font-weight: 600;
  }
}

.grid_container {
  display: grid;
  row-gap: 16px;
  column-gap: 16px;
  list-style: none;

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
    max-width: 400px;
  }

  @media (min-width: 600px) and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
