@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.image {
  @include mobile {
    width: 340px;
    height: 240px;
    margin-bottom: 20px;
  }

  @include desktop {
    width: 680px;
    height: 480px;
    margin-bottom: 16px;
  }
}

.text {
  font-weight: 500;

  @include mobile {
    width: 300px;
    font-size: rem(13px);
    line-height: rem(17px);
  }

  @include desktop {
    font-size: rem(26px);
    line-height: rem(32px);
  }
}
