@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.space {
  @include mobile {
    height: 100px;
  }

  @include desktop {
    height: 180px;
  }
}

.flex_row {
  display: flex;

  @include mobile {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  @include desktop {
    max-width: 1000px;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.flex_col {
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.star {
  width: 170px;
  height: 50px;

  @include mobile {
    margin-bottom: 20px;
  }

  @include desktop {
    margin-bottom: 28px;
  }
}

// CONNECTION MOTIVATION COLLABORATION
.head {
  z-index: 1;
  position: relative;
  color: color(black-100);
  font-family: 'Sun Motter';

  @include mobile {
    text-align: center;
    margin-bottom: 20px;
    width: 300px;
    @include typo('E_Headline3');
  }

  @include desktop {
    text-align: left;
    margin-bottom: 54px;
    width: rem(450px);
    @include typo('E_Headline2');

    & > span {
      color: color(blue-500);
    }
  }
}

.description {
  z-index: 1;
  font-weight: 500;
  color: color(black-100);

  & > span {
    color: color(primary-alternative);
  }

  @include mobile {
    text-align: center;
    width: 300px;
    @include typo('KR/Body5');
  }

  @include desktop {
    text-align: left;
    width: rem(450px);
    @include typo('KR/Body2');
  }
}

.mobile {
  @include mobile {
    display: block;
  }

  @include desktop {
    display: none;
  }
}
