@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.space {
  @include mobile {
    height: 100px;
  }

  @include desktop {
    height: 180px;
  }
}

.flex_row {
  width: 80%;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.star {
  @include mobile {
    width: 22px;
    height: 22px;
    margin-bottom: 16px;
  }

  @include desktop {
    width: 36px;
    height: 36px;
    margin-bottom: 20px;
  }
}

.head {
  font-weight: 600;
  color: color(black-100);
  text-align: left;
  font-family: 'Trap';

  & > span {
    color: color(blue-500);
  }

  @include mobile {
    margin-bottom: 30px;
    width: 300px;
    @include font(24px, 28px);
  }

  @include desktop {
    margin-bottom: 97px;
    width: rem(450px);
    @include font(35px, 45px);
  }
}

.description {
  font-weight: 500;
  color: color(black-100);
  text-align: left;

  & > span {
    color: color(primary-alternative);
  }

  @include mobile {
    width: 300px;
    @include font(14px, 19px);
  }

  @include desktop {
    width: rem(450px);
    @include font(22px, 28px);
  }
}
