@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.carouselContainer {
  overflow: hidden;
  width: 100vw;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.desktopCarousel {
  @include mobile {
    display: none;
  }
}

.mobileCarousel {
  @include desktop {
    display: none;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moreButton {
  display: flex;
  flex-direction: row;
  // position: absolute;
  color: color('18th-gray-800');
  @include typo('KR/Headline6');
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    bottom: rem(10px);
    right: rem(20px);
    margin-top: 52px;
    width: 80%;
    height: 42px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid color('18th-gray-800');
    column-gap: 16px;
  }

  @include desktop {
    border: 1px solid color(blue-100);
    border-radius: 330px;
    bottom: rem(50px);
    right: rem(20px);
    font-size: rem(16px);
    line-height: rem(20px);
    margin-top: 43px;
    width: 280px;
    height: 42px;
    background-color: white;
    column-gap: 20px;
  }
}

.h2 {
  text-align: center;
  font-family: 'Pretendard';
  font-weight: 600;

  @include mobile {
    color: color(black-100);
    @include typo('KR/Headline5');
  }
  @include desktop {
    color: white;
    @include typo('KR/Headline2');
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0px;

  @include mobile {
  }
  @include desktop {
    background-color: #202632;
  }
}

.arrow_image {
  width: 24px;
  height: 24px;
}
