@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.carouselContainer {
  overflow: hidden;
  width: 100vw;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moreButton {
  position: absolute;
  color: #b36afb;
  font-weight: 600;

  @include mobile {
    bottom: rem(10px);
    right: rem(20px);
    font-size: rem(13px);
    line-height: rem(17px);
  }

  @include desktop {
    bottom: rem(50px);
    right: rem(20px);
    font-size: rem(16px);
    line-height: rem(20px);
  }
}
