@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.question {
  color: color(blue-500);

  @include mobile {
    @include typo('KR/Headline5');
  }

  @include desktop {
    @include typo('KR/Headline2');
  }
}

.answer {
  color: color(black-100);

  @include mobile {
    @include typo('KR/Caption1_L');
  }

  @include desktop {
    @include typo('KR/Caption1');
  }
}

.button {
  background-color: '#FFFFFF';
  color: color(blue-500);
  border-radius: 10px;
  flex: 1;
  font-weight: 500;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  @include mobile {
    width: 328px;
    padding: 12px 10px;
    @include typo('KR/Headline6');
    border: 1px solid color(blue-500);
  }

  @include desktop {
    max-width: 308px;
    padding: 10px 20px;
    font-size: rem(16px);
    line-height: rem(30px);
  }
}

.button_active {
  background-color: color(black-100);
  border: 1px solid color(black-100);
  color: white;
  border-radius: 10px;
}

.client_card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  // background-color: #390b65;
  border-radius: 16px;
  // padding: 20px 24px;

  .client_title {
    font-weight: 600;
    color: color(black-100);

    @include mobile {
      font-size: rem(17px);
      line-height: rem(22px);
    }

    @include desktop {
      font-size: rem(22px);
      line-height: rem(28px);
      margin-top: 32px;
    }
  }

  .client_description {
    font-weight: 500;
    color: color(black-100);

    @include mobile {
      font-size: rem(13px);
      line-height: rem(17px);
    }

    @include desktop {
      font-size: rem(18px);
      line-height: rem(23px);
    }
  }

  .client_caption {
    font-weight: 500;
    color: color(gray-400);

    @include mobile {
      font-size: rem(13px);
      line-height: rem(17px);
    }

    @include desktop {
      font-size: rem(14px);
      line-height: rem(19px);
    }
  }
}

.card {
  background-color: color(gray-100);
  border-radius: 5px;
  color: color(gray-400);
  display: flex;
  font-weight: 500;

  @include mobile {
    padding: 24px;
    width: 328px;
  }

  @include desktop {
    gap: 40px;
    padding: 42px 52px;
  }

  .icon_desktop {
    @include mobile {
      display: none;
    }

    @include desktop {
      width: 44px;
      height: 41px;
    }
  }

  .icon_mobile {
    @include mobile {
      width: 50px;
      // height: 50px;
    }

    @include desktop {
      display: none;
    }
  }

  .detail {
    display: flex;
    flex-direction: column;

    @include mobile {
      gap: 16px;
    }

    @include desktop {
      gap: 8px;
    }

    & * {
      text-align: start;
    }

    .card_mobile {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    // h4 {
    //   font-weight: 600;
    //   color: color(blue-500);
    //   font-family: 'Trap', 'Pretendard';

    //   @include mobile {
    //     font-size: rem(20px);
    //     line-height: rem(25px);
    //   }

    //   @include desktop {
    //     font-size: rem(32px);
    //     line-height: rem(39px);
    //   }
    // }

    .detail_description {
      font-weight: 500;

      @include mobile {
        font-size: rem(14px);
        line-height: rem(19px);
      }

      @include desktop {
        font-size: rem(18px);
        line-height: rem(28px);
      }
    }
  }
}

.main {
  .sub_title {
    color: color(blue-500);
    font-weight: 500;

    @include mobile {
      @include typo('KR/Caption1');
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    @include desktop {
      font-size: rem(22px);
      line-height: rem(28px);
      margin-top: 6px;
    }
  }

  .caption {
    color: color(gray-300);
    font-weight: 300;

    @include mobile {
      @include typo('KR/Caption2');
    }

    @include desktop {
      font-size: rem(18px);
      line-height: rem(19px);
      margin-top: 7px;
    }
  }

  .buttons {
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 330px;

    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 24px;
      margin: 34px 0px;
    }

    @include desktop {
      // gap: 16px;
      background-color: color(gray-100);
      margin: 54px 0px;
    }
  }

  .cards_mobile {
    display: none;

    @include mobile {
      width: 328px;
    }

    @include desktop {
      display: none;
    }
  }

  .card_active {
    @include mobile {
      display: block;
    }
  }

  .cards_desktop {
    @include mobile {
      display: none;
    }

    @include desktop {
      width: 100%;
      max-width: 1310px;
      padding: 0 16px;
    }
  }

  .card_client {
    display: flex;
    gap: 16px;

    @include mobile {
      flex-direction: column;
    }
  }
}
