@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

$gap: 5px;

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc((var(--slide-item-width) + $gap) * -1 * var(--slide-item-length)));
  }
}

.carousel_container {
  display: flex;
  gap: $gap;
  width: calc((var(--slide-item-width) + $gap) * var(--slide-item-length));
  animation: 120s linear infinite running slide;

  .carousel_item {
    flex: 0 0 auto;
    width: var(--slide-item-width);
    aspect-ratio: 290 / 180;
    border-radius: 8px;
  }

  @include desktop {
    animation: 120s linear infinite running slide;
  }

  @include mobile {
    animation: 60s linear infinite running slide;
  }
}

.carousel_container__reverse {
  animation: 60s linear infinite reverse slide;
}
