@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mobile {
    padding: 24px 10px;
    gap: 16px;
  }

  @include desktop {
    padding: 40px 20px;
    gap: 28px;
  }

  .timer_title {
    @include mobile {
      @include typo(title3);
    }

    @include desktop {
      @include typo(display3);
    }
  }

  .timer_time {
    font-weight: 700;

    @include mobile {
      @include font(44px, 56px);
    }

    @include desktop {
      @include font(60px, 72px);
    }
  }

  .timer_time_inactive {
    opacity: 0.2;
  }
}
