@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: color(gray-100);

  .footer_container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;

    @include mobile {
      width: 100%;
      height: 100px;
      padding-top: 27px;
      padding-left: 23px;
      padding-right: 28px;
    }

    @include desktop {
      width: 80%;
      align-items: center;
      height: 173px;
      padding: 62px 80px;
    }

    .info {
      @include mobile {
        width: 220px;
      }

      .name {
        display: block;
        color: color(gray-400);
        font-weight: 400;

        @include mobile {
          font-size: rem(8px);
          line-height: rem(13px);
        }

        @include desktop {
          font-size: rem(14px);
          line-height: rem(24px);
        }
      }

      .copyright {
        color: color(gray-400);

        @include mobile {
          font-size: rem(8px);
          line-height: rem(13px);
        }

        @include desktop {
          font-size: rem(14px);
          line-height: rem(24px);
        }
      }
    }

    .contact {
      display: flex;

      @include mobile {
        gap: 10px;
      }

      @include desktop {
        gap: 26px;
      }

      .icon {
        @include mobile {
          width: 28px;
          height: 28px;
        }

        @include desktop {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}
