@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mobile {
    padding: 40px 16px;
    gap: 32px;
  }

  @include desktop {
    padding: 40px 20px;
    gap: 28px;
  }

  .timer_title {
    color: #6A8CFA;

    @include mobile {
      @include typo(KR/Headline5);
    }

    @include desktop {
      @include typo(KR/Headline3);
    }
  }

  .timer_time {
    font-weight: 700;
    color: #0740F6;

    @include mobile {
      @include font(40px, 50px);
    }

    @include desktop {
      @include font(80px, 96px);
    }
  }

  .timer_time_inactive {
    opacity: 0.2;
  }

  .apply_btn {
    
    @include mobile {
      @include typo(KR/Headline6);
      font-weight: 600;
      padding: 16x 40px;
      min-width: 244px;
      max-width: 329;
      border-radius: 99px;
    }

    @include desktop {
      @include typo(KR/Headline4);
      font-weight: 600;
      padding: 16px 40px;
      min-width: 244px;
      max-width: 400px;
    }
  }
}
