@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

@keyframes float {
  0%,
  100% {
    transform: translate(-50%, -30%) translateY(0);
  }
  50% {
    transform: translate(-50%, -30%) translateY(-20px);
  }
}

@keyframes twinkling {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.intro {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  background-color: #290052;

  @include desktop {
    margin-top: -20px;
  }

  .desktop_main {
    @include desktop {
      z-index: 1;
      display: block;
      max-width: 1440px;
    }

    @include mobile {
      display: none;
    }
  }

  .mobile_main {
    @include desktop {
      display: none;
    }

    @include mobile {
      z-index: 1;
      display: block;
      max-width: 460px;
    }
  }

  .light {
    & > div {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      aspect-ratio: 1 / 1;
      transform: translate(-50%, -30%);
    }

    .light_main {
      z-index: 2;
      mix-blend-mode: hard-light;
      animation: float 3s ease-in-out infinite;

      @include mobile {
        width: 308px;
      }

      @include desktop {
        width: 40%;
      }
    }

    .light_four {
      animation: twinkling 2s infinite;

      @include mobile {
        width: 272px;
        transform: translate(-88%, -36%);
      }

      @include desktop {
        width: 40%;
        transform: translate(-82%, -30%);
      }
    }

    .light_eight {
      animation: twinkling 3s infinite;

      @include mobile {
        width: 472px;
        transform: translate(-42%, -62%);
      }

      @include desktop {
        width: 36%;
        transform: translate(0%, -30%);
      }
    }

    .light_two {
      animation: twinkling 5s infinite;

      @include mobile {
        width: 400px;
        aspect-ratio: 3 / 1;
        transform: translate(-44%, 70%) scaleX(-1);
      }

      @include desktop {
        width: 20%;
        aspect-ratio: 4 / 2;
        transform: translate(-128%, 148%);
      }
    }
  }

  .desktop_aura {
    @include mobile {
      display: none;
    }

    @include desktop {
      display: block;
    }
  }

  .mobile_aura {
    @include mobile {
      display: block;
    }

    @include desktop {
      display: none;
    }
  }
}
