@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.button {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: color(blue-500);
  border-radius: 99px;

  @include mobile {
    padding: 11px 50px;
    @include typo('KR/Headline6');
    margin-top: 20px;
  }

  @include desktop {
    padding: 16px 32px;
    @include typo('KR/Headline4');
    margin-top: 42px;
  }
}

.alert {
  color: color(gray-400);
  text-align: center;
  @include typo('KR/Body4');
  margin-top: 20px;
}
