@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.button {
  position: relative;

  @include mobile {
    margin-top: 20px;
  }

  @include desktop {
    margin-top: 40px;
  }

  @include mobile {
    padding: 12px 24px;
  }

  @include desktop {
    font-size: rem(28px);
    line-height: rem(32px);
    padding: 24px 48px;
  }

  .button_effect {
    // TODO
  }
}
