@use '@/styles/abstracts' as *;

.space {
  @include mobile {
    height: 45px;
  }

  @include desktop {
    height: 250px;
  }
}

.image_container {
  @include mobile {
    padding: 0px 28px;
  }

  @include desktop {
    padding: 0px 70px;
  }
}
