@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.challenger {
  @include mobile {
    margin-top: 162px;
  }

  @include desktop {
    margin-top: 385px;
  }

  .role {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include mobile {
      margin-top: 40px;
      padding: 0 28px;
    }

    @include desktop {
      margin-top: 96px;
      padding: 0 70px;
    }

    nav {
      @include mobile {
        display: flex;
        gap: 20px;
        padding: 0 2px;
      }

      @include desktop {
        display: none;
      }

      button {
        border: 0;
        background-color: transparent;
        color: #615dff;
        text-align: center;
        font-size: rem(16px);
        font-style: normal;
        font-weight: 600;
        line-height: 144%;
        letter-spacing: -0.076px;
        cursor: pointer;
      }

      .active_button {
        color: #ffffff;
      }
    }

    .mobile_card {
      @include mobile {
        display: block;
        margin-top: 36px;
        padding: 22px 20px;
        border-radius: 13px;
        background: rgba(17, 16, 69, 0.64);
      }

      @include desktop {
        display: none;
      }

      h3 {
        color: #ffffff;
        text-align: left;
        font-size: rem(18px);
        font-weight: 700;
        line-height: 20px;

        span {
          color: #6c68ff;
          font-size: rem(14px);
        }
      }

      p {
        margin-top: 16px;
        color: #fff;
        font-size: rem(13px);
        font-weight: 500;
        line-height: 20px;
        white-space: pre-line;
      }
    }

    .card_grid {
      @include mobile {
        display: none;
      }

      @include desktop {
        display: grid;
        row-gap: 56px;
        column-gap: 60px;
        grid-template-columns: repeat(auto-fill, minmax(auto, 620px));
        justify-content: center;
        width: 100%;
      }

      .pc_card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 622px;
        min-height: 272px;
        padding: 60px;
        padding-bottom: 50px;
        border-radius: 25px;
        background: rgba(17, 16, 69, 0.64);

        h3 {
          color: #ffffff;
          text-align: left;
          font-size: rem(34px);
          font-weight: 700;

          span {
            color: #6c68ff;
            font-size: rem(28px);
          }
        }

        p {
          color: #ffffff;
          font-size: rem(23px);
          font-weight: 500;
          line-height: 34px;
          letter-spacing: -0.076px;
          white-space: pre-line;
        }
      }
    }
  }
}
