@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.modal {
  width: 100%;
  padding: 30px 0 24px;
  background-color: #1f003d90;
  backdrop-filter: blur(18.5px);

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }

  @include desktop {
    display: none;
  }

  a {
    font-size: rem(17px);
    line-height: rem(22px);
    font-weight: 700;
    color: color(text-normal);
  }

  .active {
    color: color(primary-alternative);
  }

  .apply_button {
    padding: 8px 24px;
    border-radius: 99px;
    background: color(primary-normal);

    span {
      @include typo(body-bold2);
      color: color(text-normal);

      display: block;
    }
  }
}

.overlay {
  position: fixed;
  top: 48px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: transparent;
}
