@use '@/styles/abstracts' as *;
@use '@/styles/utils' as *;

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@include desktop {
  .cardContainer {
    position: relative;
    margin: 26px 15px 0 15px;
    display: flex;
    flex-direction: column;

    .card {
      display: flex;
      flex-direction: row;
      column-gap: 30px;
      border-radius: 20px;
      border-bottom: 2px dashed color(blue-200);

      @include desktop {
        padding: 20px;
        flex-direction: row;
      }

      @include mobile {
        padding: 15px;
        flex-direction: column;
      }

      .image {
        width: 400px;
        height: 216px;
        border-radius: 10px;
      }

      .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;

        .chapter {
          font-family: 'Sun Motter';
          color: color(blue-300);
          @include font(14px, 20px);
        }

        .title {
          @include typo('KR/Headline3');
          color: color(blue-500);
        }

        .description {
          @include typo('KR/Body4');
          color: color(gray-400);
        }
      }
    }

    .card:nth-child(odd) {
      background: linear-gradient(251deg, #fff 51.89%, #cdd9fd 119.14%);
    }

    .card:nth-child(even) {
      background: linear-gradient(104deg, #fff 48.19%, #cdd9fd 124.97%);
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-left: 50px;
    }

    .card:last-child {
      border-bottom: 0;
    }
  }
}

@include mobile {
  .cardContainer {
    margin: 26px 16px 0 16px;
    display: flex;
    flex-direction: column;

    .card {
      background: linear-gradient(180deg, #fff 22.79%, #cdd9fd 141.98%);
      height: 309px;

      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      padding: 15px;

      column-gap: 30px;
      border-radius: 20px;
      border-bottom: 1px dashed color(blue-200);

      .image {
        width: 100%;
        height: 170px;
        border-radius: 5px;
      }

      .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 5px;

        .chapter {
          font-family: 'Sun Motter';
          color: color(blue-300);
          @include typo('E_Headline4');
          font-size: 10px;
        }

        .title {
          @include typo('KR/Headline6');
          color: color(blue-500);
        }

        .description {
          @include typo('KR/Caption1_L');
          color: color(gray-400);
          letter-spacing: -0.26px;
          word-break: normal;
        }
      }
    }

    .card:last-child {
      border-bottom: 0;
    }
  }
}

// 데스크탑 배경
.backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; // 배경 이미지가 전체를 덮도록 조정
  z-index: -1; // 배경 이미지가 카드 뒤에 위치하도록 설정

  // 데스크탑
  @include desktop {
    display: block;
  }

  // 모바일
  @include mobile {
    display: block;
    // display: none; // 데스크탑에서는 모바일 이미지를 숨김
    height: 0;
  }
}

// 모바일 배경
.backgroundImgMobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // height: 100%;
  object-fit: cover; // 배경 이미지가 전체를 덮도록 조정
  z-index: -2; // 배경 이미지가 카드 뒤에 위치하도록 설정
  height: 1500px;

  // 데스크탑
  @include desktop {
    // display: none; // 데스크탑에서는 모바일 이미지를 숨김
    height: 0;
  }

  // 모바일
  @include mobile {
    display: block;
  }
}

.fireImage {
  z-index: -1;
  position: absolute;
  opacity: 0.8;
  background-repeat: no-repeat;
  // transform: rotate(-15deg);
  background-size: 127.007% 110.833%;

  @include desktop {
    bottom: 47px;
    left: -90px;
    width: 142px;
    height: 168px;
    background-position: -25.635px -8.333px;
  }

  @include mobile {
    top: 123px;
    left: 33px;
    width: 53px;
    height: 63px;
    background-position: -25.635px -8.333px;
  }
}

.labtopImage {
  z-index: -1;
  position: absolute;
  opacity: 0.8;
  background-repeat: no-repeat;
  // transform: rotate(13.843deg);
  background-size: 186.612% 135.689%;
  background-position: -33.373px -19.73px;

  @include desktop {
    top: 300px;
    right: -140px;
    width: 195px;
    height: 150px;
    transform: rotate(10deg);
  }

  @include mobile {
    bottom: -10px;
    right: 40px;
    width: 98px;
    height: 75px;
  }
}
