// Pretendard
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css');

// Trap
@font-face {
  font-family: 'Trap';
  font-weight: 400;
  font-style: normal;
  src:
    url('/font/Trap-Regular.woff2') format('woff2'),
    url('/font/Trap-Regular.woff') format('woff');
  font-display: fallback;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0026;
}

@font-face {
  font-family: 'Trap';
  font-weight: 600;
  font-style: normal;
  src:
    url('/font/Trap-SemiBold.woff2') format('woff2'),
    url('/font/Trap-SemiBold.woff') format('woff');
  font-display: fallback;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0026;
}

@font-face {
  font-family: 'Trap';
  font-weight: 700;
  font-style: normal;
  src:
    url('/font/Trap-Bold.woff2') format('woff2'),
    url('/font/Trap-Bold.woff') format('woff');
  font-display: fallback;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039, U+0026;
}

// Sun Motter
@font-face {
  font-family: 'Sun Motter';
  src: url('/font/SunMotterRegular.eot');
  src:
    local('Sun Motter'),
    local('SunMotterRegular'),
    url('/font/SunMotterRegular.eot?#iefix') format('embedded-opentype'),
    url('/font/SunMotterRegular.woff2') format('woff2'),
    url('/font/SunMotterRegular.woff') format('woff'),
    url('/font/SunMotterRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// DOSGothic
@font-face {
  font-family: 'DOSGothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Video
@font-face {
  font-family: 'Video';
  font-weight: 300;
  font-style: normal;
  src: url('/font/Video_Light.otf') format('opentype');
}

@font-face {
  font-family: 'Video';
  font-weight: 400;
  font-style: normal;
  src: url('/font/Video_Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Video';
  font-weight: 500;
  font-style: normal;
  src: url('/font/Video_Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Video';
  font-weight: 600;
  font-style: normal;
  src: url('/font/Video_Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Video';
  font-weight: 700;
  font-style: normal;
  src: url('/font/Video_Bold.otf') format('opentype');
}
